<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>65</integer>
	<key>Time Stamp</key>
	<real>1709185124.0972891</real>
	<key>UUID</key>
	<string>7F569E00-AEFB-4448-B341-331FC59AD113</string>
</dict>
</plist>
